.ContainerCharacters{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
    padding: 30px;

    width: 100%;
    min-height: 100vh;

    box-sizing: border-box;

    background-color: #888888;
}


.ContainerCharacters h2{
    color: white;
}

.CharacterGrid{
    width: 100%;

    display: grid;

    grid-template-columns: repeat(1, minmax(700px,1fr));
    
    gap: 10px;
}